@import '../../styles';

.in-dept-img-wrapper{

    .in-dept-img{
        position: relative;
        height: 25vh; 
        background-repeat: no-repeat;
        background-size: contain;
        background-position-y: center;
        background-position: center;
      /*   -webkit-filter: grayscale(100%); 
        filter: grayscale(100%);    */
        animation: color-animation 1500ms ease-in; /* IE 10+, Fx 29+ */
        transform: scale(1.0); 
        margin-bottom: 10%;
      }
}

@keyframes color-animation {
    0%   { filter: grayscale(100%); }
    100% { filter: grayscale(0%); }
  } 