<div class="container-fluid">
    <div id="top-section" class="row">
      <div class="in-dept-text-section">
  
        <div class="page-navbar" style="top:5%"  [ngsReveal]="{delay: 600, scale:1.0, origin: 'top', distance: '25px'}">
            <a [routerLink]="['/frontpage']" ><h4 class="light">back to front page</h4></a>
        </div> 
  
        <div class="header" [ngsReveal]="{ duration: 500, delay:200,scale: 1.0 , opacity: 0 , distance: '50px', origin:'top'}">
          <h2> Sustainability </h2>
        </div> 
        
  
        <div class="in-dept-text" >
            <div class="sub-header">
              <h4>sustainability</h4>
        </div>
        
          <p >
              Som smykkedesiger har jeg naturligvis ikke haft vanskeligt ved at lade mig fascinere af ædelmetallers
              skønhed, mystik og formbarhed. 
              <br>
              <br>
          </p>

            <div class="in-dept-img-wrapper" >
              <div class="in-dept-img" [style.background-image]="'url(' + galleryImages[0] + ')'">
              </div>
            </div>

            <p >
              At facineres af formbarhedens muligheder for
              skabe smykker der etablerer kontakt mellem mennesker baseret på materialer
              der er dannet for millioner af år tilbage i vores jords indre. 
              <br>
              <br>
            </p>
        
            <p [ngsReveal]="{ reset: false, scale: 1.0}">
              Men vi lever i en tid hvor vi tvinges til at stille krav til hvordan vi
              agerer i forhold til miljøet - også som smykkedesignere.
              <br>
              <br>
            </p>
        
            <div class="sub-header" [ngsReveal]="{ reset: false, scale: 1.0}">
                <h4>Om bæredygtighed</h4>
            </div>
        
            <p [ngsReveal]="{ reset: false, scale: 1.0}">
              Bæredygtighed har heldigvis vundet indpas blandt smykkedesignere. Bevægelsen i retning
              af stærkere bevidsthed om materialers tilblivelse og videredistribution er en vigtig, og
              rigtig, bevægelse som vi er mange i branchen der hilser velkommen. 
              <br>
              <br>
            </p>
        
            <p [ngsReveal]="{ reset: false, scale: 1.0}">
              For netop udvidning af ædelsten- og metaller er potentielt skadeligt for miljøet og 
              for de mennesker der rundt omkring i verden udøver farligt og sundhedsskadeligt
              arbejde.
              <br>
              <br>
            </p>
        
            <div class="in-dept-img-wrapper" [ngsReveal]="{ reset: false, scale: 1.0}">
                <div class="in-dept-img" [style.background-image]="'url(' + galleryImages[0] + ')'" >
                </div>
              </div>
            
            <div class="sub-header" [ngsReveal]="{ reset: false, scale: 1.0}">
                  <h4>mine leverandører</h4>
            </div>
        
            <p [ngsReveal]="{ reset: false, scale: 1.0}">
              Jeg har truffet mit valg. Jeg arbejder kun med materialer der kan retfærdiggøres ud
              fra et bæredygtighedsperspektiv.
              <br>
              <br> 
            </p>
        
            <p [ngsReveal]="{ reset: false, scale: 1.0}">
              Nogle materialer er certificeret, andre er ikke. Derfor er det afgørende for mig 
              at kende mine leverandører under alle omstændigheder. 
              <br>
              <br> 
            </p>
        
            <p [ngsReveal]="{ reset: false, scale: 1.0}">
              Leverandører der tager i verden og inspicerer og præger de miljøer de opkøber i, i en bæredygtig retning.
              <br>
              <br> 
            </p>
        
  
        </div>
  
        <div class="page-navbar" [ngsReveal]="{ reset: false, scale: 1.0}">
            <a [routerLink]="['/about']"><h4>p:lou</h4></a>
            <a pageScroll [pageScrollDuration]="700"  href="#top-section"><h4 class="light">top</h4></a>
            <a [routerLink]="['/pearls']"><h4>n:pea</h4></a>
      </div>
  
      </div>
    </div>
  </div>









