<div class="container-fluid">
    <div id="top-section" class="row">
      <div class="in-dept-text-section" >
       <!--  <div class="header lrj-header">
            <h2>Vaerkstedet</h2>
        </div>  -->
        <div class="menu-item">
            <a><h4>menu</h4></a>
       </div>

       <div class="in-dept-img-wrapper">
          <div class="in-dept-img" [style.background-image]="'url(' + galleryImages[1] + ')'">
          </div>
        </div>

        <div class="page-navbar" >
           <a [routerLink]="['/metals']"><h4>overview</h4></a>
        </div>
  
        <div class="in-dept-text">
          <div class="sub-header">
            <h4>Om Vaerkstedet</h4>
          </div>
  
          <p>
            Vaerkstedet er en butik beliggende i det hastigt udviklende Nørrebro. 
            <br>
          </p>

          <p>
            Tæt på søerne med Ravnsborggade som nabo. En gade der summer af liv og kreativitet.
            <br>
          </p>
  
           <p>
            Værkstedets spiller en central rolle i butikken og tilfører en hyggelig, autentisk og arbejdsom atmosfærer. 
            <br>
          </p>
  
          <div class="sub-header">
              <h4>Om fællesskab</h4>
          </div>
  
          <p>
            Udover at præsentere sine egne smykker, præsenterer Louise Rought også andre danske smykkedesignere.
            <br>
          </p>
  
          <p>
            Fællesnævneren for alle designerne i butikken er, at de har fokus på det håndlavede og på bæredygtighed.
          </p>
  
          <div class="in-dept-img-wrapper">
              <div class="in-dept-img" style='filter:grayscale(100%)' [style.background-image]="'url(' + galleryImages[0] + ')'" >
              </div>
          </div>

          <p>
           Hvis du kigger efter håndlavede smykker 
           i bæredygtige materialer, så kom ned til mig og få en
           snak.
          </p>
  
        </div>

        <div class="page-navbar">
            <a [routerLink]="['/metals']"><h4>guld</h4></a>
            <a pageScroll [pageScrollDuration]="700"  href="#top-section" ><h4 class="light">to top</h4></a>
            
        </div>

      </div>
    </div>
  </div>