<div class="container-fluid">
    <div class="row">
      <div class="in-dept-text-section">

      <div class="menu-item">
        <a><h4>menu</h4></a>
      </div>

      <div class="header lrj-header">
        <h2>Om mit guld</h2>
      </div>  
      
      <div class="page-navbar">
          <a [routerLink]="['/sapphires']"><h4>safirer</h4></a>
          <a><h4 class="light">oversigt</h4></a>
          <a [routerLink]="['/vaerkstedet']"><h4>vaerkstedet</h4></a>
      </div>
  
      <div class="in-dept-img-wrapper">
          <div class="in-dept-img" [style.background-image]="'url(' + galleryImages[1] + ')'">
          </div>
      </div>
  
      <div class="in-dept-text">
          <div class="sub-header">
            <h4>Om guld</h4>
          </div>
  
          <p>
              Guld bliver til stadighed vanskeligere at udvinde, 
              og samtidig har udvindingen store konsekvenser 
              for miljøet.  
            <br>
          </p>

          <p>
              De guldsmykker, du køber hos os, er derfor produceret af genbrugsguld.
            <br>
            Såkaldt re-cirkuleret guld.
          </p>

          <div class="sub-header">
              <h4>Perler og miljø</h4>
          </div>
  
           <p>
              Guld er måske det materiale, der gennem tiden er blevet genbrugt flest gange pga. værdien. 
               Særligt i perioder med krise er mange smykker blevet solgt og sendt til affinering, hvilket vil sige, at det renses og ender som rent guld, hvorefter det sendes tilbage i kredsløbet, så nye smykker kan se dagens lys. 
            <br>
          </p>

          <div class="sub-header">
              <h4>Aktivt guld</h4>
          </div>

          <p>
              Aktivt Guld samarbejder med anerkendte europæiske samarbejdspartnere, der igennem opnået LBMA-certificering (The London Bullion Market Association), og RJC ( Responsible Jewellery Council), 
              garanterer en overholdelse af miljømæssige og etiske retningslinjer.
            <br>
          </p>
          <p>
            Det guld, vi køber hos Aktiv Guld, er netop genbrugsguld. 
            <br>
          </p>
         
  
          <div class="in-dept-img-wrapper">
              <div class="in-dept-img" style='filter:grayscale(100%)' [style.background-image]="'url(' + galleryImages[0] + ')'" >
              </div>
          </div>

          <div class="sub-header">
              <h4>På besøg</h4>
          </div>

          <p>
            De besøger regelmæssigt deres samarbejdspartnere på deres perlefarme i Fransk Polynesien, på Filippinerne, Indonesien, og Mexico. 
            <br>
          </p>
          <p>
            Netop ved at besøge sine leverandører  skabes den bedste dialog og involvering med producenterne
            således at de tilsikres at perledyrkningen foregår i overensstemmelse med bæredygtighedsprincipper.
            <br>
          </p>
          

      </div>

      <div class="page-navbar">
            <a [routerLink]="['/sapphires']"><h4>safirer</h4></a>
            <a> <h4 class="light">back to top</h4></a>
            <a [routerLink]="['/vaerkstedet']"><h4>vaerkstedet</h4></a>
      </div>
      
      </div>
    </div>
  </div>