<div class="container-fluid">
  <div id="top-section" class="row">
    <div class="in-dept-text-section" >
     
    <div class="page-navbar"  [ngsReveal]="{delay: 600, scale:1.0, origin: 'top', distance: '25px'}" >
        <a [routerLink]="['/frontpage']"><h4>back to front page</h4></a>
    </div>

  <!--  <div class="header" [ngsReveal]="{ duration: 500, delay:200,scale: 1.0 , opacity: 0 , distance: '50px', origin:'top'}">
        <h2> Sapphires & Pearls </h2>
    </div> --> 

   <!-- <div class="in-dept-img-wrapper" [ngsReveal]="{ duration: 500, delay:300,scale: 1.0 , opacity: 0 }">
        <div class="in-dept-img" [style.background-image]="'url(' + galleryImages[0] + ')'">
        </div>
    </div> -->
      
      <div class="in-dept-text">
        
        <div class="sub-header"  [ngsReveal]="{ duration: 500, delay:200,scale: 1.0 , opacity: 0 }">
          <h4>Om safirer og perler</h4>
        </div>

        <p [ngsReveal]="{ reset: false, scale: 1.0}">
          Som smykkedesiger har jeg naturligvis ikke haft vanskeligt ved at lade mig fascinere af 
          ædelstenes skønhed og mystik.
          <br>
          <br>
        </p>

        <p [ngsReveal]="{ reset: false, scale: 1.0}"> 
          Jeg er facineres af stenens muligheder for
          skabe smykker der etablerer kontakt mellem mennesker baseret på materialer
          der er dannet for millioner af år tilbage i vores jords indre. 
          <br>
          <br>
        </p>

        <p [ngsReveal]="{ reset: false, scale: 1.0}">
          Men vi lever i en tid hvor vi tvinges til at stille krav til hvordan vi
          agerer i forhold til miljøet - også som smykkedesignere.
          <br>
          <br>
        </p>
        
        <div class="sub-header" [ngsReveal]="{ reset: false, scale: 1.0}">
          <h4>Wennick+Lefèvre</h4>
        </div>

        <p [ngsReveal]="{ reset: false, scale: 1.0}">
          Wennick+Lefèvre er Skandinaviens ledende specialister indenfor naturlige 
          og ikke -varmebehandlede ædelsten. 
          Dem har jeg valgt at samarbejde med.
          <br>
          <br>
        </p>

        <p [ngsReveal]="{ reset: false, scale: 1.0}">
          Deres ædelsten er unikke og af høj kvalitet. 
          Wennick+Lefèvre er meget bevidste om deres sociale ansvar som forhandlere af
          ædelsten. 
          <br>
          <br>
        </p>
        <p [ngsReveal]="{ reset: false, scale: 1.0}">
          En af deres største bekymringer er aldrig at handle ædelsten, der på nogen måde har ført til menneskelig
          elendighed. 
          <br>
          <br>
        </p>

        <p [ngsReveal]="{ reset: false, scale: 1.0}">
          Ved at udvælge deres ædelsten lokalt og undgå internationale mellemmænd, har de størst mulig
          indsigt i hele processen, fra minedrift til juvelerbutikken. 
          <br>
          <br>
        </p>
        
        <p [ngsReveal]="{ reset: false, scale: 1.0}">
          Derudover følges de politiske udviklinger tæt
          i de lande de handler med.
          <br>
          <br>
        </p>
      
     <!--   <div class="in-dept-img-wrapper" [ngsReveal]="{ reset: false, scale: 1.0}">
            <div class="in-dept-img" [style.background-image]="'url(' + galleryImages[2] + ')'" >
            </div>
        </div> -->

        <div class="sub-header" [ngsReveal]="{ reset: false, scale: 1.0}">
          <h4>Om perler</h4>
        </div>

        <p [ngsReveal]="{ reset: false, scale: 1.0}">
            Jeg elsker at arbejde med perler. 
            Perler er for mig indbegrebet af naturlig skønhed.
           
          <br>
          <br>
        </p>

        <p [ngsReveal]="{ reset: false, scale: 1.0}"> 
          Det komplekse farvespil, den frakturede struktur
            der på en gang minder én om livet skøbelighed og
            naturens styrke og ufattelige skønhed. 
        <br>
        <br>  
        </p>

        <p [ngsReveal]="{ reset: false, scale: 1.0}">
            Perler er for mig en kilde til dybt inspiration.
          <br>
          <br>
        </p>
      
      <div class="sub-header" [ngsReveal]="{ reset: false, scale: 1.0}">
        <h4>Perler og miljø</h4>
      </div>

      <p [ngsReveal]="{ reset: false, scale: 1.0}">
        Perler er materialer skabt i levende væsener, og derfor har vi naturligvis
        en ekstra forpligtelse i forhold at passe på naturen i udvindelsesprocessen.
        <br>
        <br>
      </p>

      <div class="sub-header" [ngsReveal]="{ reset: false, scale: 1.0}">
          <h4>Marc' Haritt</h4>
      </div>

      <p [ngsReveal]="{ reset: false, scale: 1.0}">
          Jeg bruger perler fra Marc' Haritt.
          Marc’Harit har specialiseret sig indenfor de fine saltvandskulturperler South Sea- og Tahiti kulturperler.
        <br>
        <br>
      </p>
      <p [ngsReveal]="{ reset: false, scale: 1.0}">
          Hos Marc’Harit arbejder de kun med den bedste kvalitet inden for kulturperler, 
          og langt størstedelen af Deres perler er dyrket under bæredygtige og Fair-Trade forhold. 
          <br>
          <br>
      </p>

      <div class="sub-header" [ngsReveal]="{ reset: false, scale: 1.0}">
        <h4>På besøg</h4>
      </div>

      <p [ngsReveal]="{ reset: false, scale: 1.0}">
        De besøger regelmæssigt deres samarbejdspartnere på deres perlefarme i Fransk Polynesien, på Filippinerne, Indonesien, og Mexico. 
        <br>
        <br>
      </p>
      <p [ngsReveal]="{ reset: false, scale: 1.0}">
        Netop ved at besøge sine leverandører  skabes den bedste dialog og involvering med producenterne
        således at de tilsikres at perledyrkningen foregår i overensstemmelse med bæredygtighedsprincipper.
      </p>

      <div class="sub-header" [ngsReveal]="{ reset: false, scale: 1.0}">
        <h4>om guld</h4>
      </div>

      <p [ngsReveal]="{ reset: false, scale: 1.0}">
        Guld er måske det materiale, der gennem tiden er blevet genbrugt flest gange pga. værdien. 
      <br>
      <br>
    </p>

    <p>
      Særligt i perioder med krise er mange smykker blevet solgt og sendt til affinering, hvilket vil sige, at det renses og ender som rent guld, hvorefter det sendes tilbage i kredsløbet, så nye smykker kan se dagens lys. 
      <br>
      <br>
    </p>

    <div class="sub-header" [ngsReveal]="{ reset: false, scale: 1.0}">
        <h4>Aktivt guld</h4>
    </div>

    <p [ngsReveal]="{ reset: false, scale: 1.0}">
        Aktivt Guld samarbejder med anerkendte europæiske samarbejdspartnere, der igennem opnået LBMA-certificering (The London Bullion Market Association), og RJC ( Responsible Jewellery Council), 
        garanterer en overholdelse af miljømæssige og etiske retningslinjer.
      <br>
      <br>
    </p>

    <p [ngsReveal]="{ reset: false, scale: 1.0}">
      Det guld, vi køber hos Aktiv Guld, er netop genbrugsguld. 
      <br>
      <br>
    </p>


    <div class="page-navbar" [ngsReveal]="{ reset: false, scale: 1.0}">
          <a [routerLink]="['/metals']"><h4>p:gol</h4></a>
          <a pageScroll [pageScrollDuration]="700"  href="#top-section" ><h4 class="light">top</h4></a>
          
    </div>

    </div>
  </div>
</div>