<div class="container-fluid">
    <div id="top-section" class="row">
      <div class="in-dept-text-section">

       <div class="menu-item">
            <a><h4>menu</h4></a>
       </div>

       <div class="page-navbar"  [ngsReveal]="{delay: 600, scale:1.0, origin: 'top', distance: '25px'}">
            <a [routerLink]="['/frontpage']" ><h4 class="light">overview</h4></a>
        </div>

       <div class="header lrj-header"  [ngsReveal]="{ duration: 500, delay:200,scale: 1.0 , opacity: 0 , distance: '50px', origin:'top'}">
            <h2>Om Safirer</h2>
        </div> 
  
        <div class="in-dept-img-wrapper"  [ngsReveal]="{ duration: 500, delay:300,scale: 1.0 , opacity: 0 , distance: '100px', origin:'top'}">
          <div class="in-dept-img" [style.background-image]="'url(' + galleryImages[0] + ')'">
          </div>
        </div>
  
        <div class="in-dept-text">
          <div class="sub-header" [ngsReveal]="{ reset: false, scale: 1.0}">
            <h4>Om Safirer</h4>
          </div>
  
          <p [ngsReveal]="{ reset: false, scale: 1.0}">
              Som smykkedesiger har jeg naturligvis ikke haft vanskeligt ved at lade mig fascinere af 
              ædelstenes skønhed og mystik.
              <br>
              <br>
          </p>

           <p [ngsReveal]="{ reset: false, scale: 1.0}"> 
              Jeg er facineres af stenens muligheder for
              skabe smykker der etablerer kontakt mellem mennesker baseret på materialer
              der er dannet for millioner af år tilbage i vores jords indre. 
              <br>
              <br>
          </p>

          <div class="sub-header" [ngsReveal]="{ reset: false, scale: 1.0}">
              <h4>Safirer og miljø</h4>
          </div>
  
           <p [ngsReveal]="{ reset: false, scale: 1.0}">
              Men vi lever i en tid hvor vi tvinges til at stille krav til hvordan vi
              agerer i forhold til miljøet - også som smykkedesignere.
              <br>
              <br>

          </p>

          <p [ngsReveal]="{ reset: false, scale: 1.0}">
              Bæredygtighed har heldigvis vundet indpas blandt smykkedesignere.
              Og ikke mindst blandt leverandører af materialer.
              <br>
              <br>
          </p>

          <div class="sub-header" [ngsReveal]="{ reset: false, scale: 1.0}">
              <h4>Wennick+Lefèvre</h4>
          </div>

          <p [ngsReveal]="{ reset: false, scale: 1.0}">
              Wennick+Lefèvre er Skandinaviens ledende specialister indenfor naturlige 
              og ikke -varmebehandlede ædelsten. 
              Dem har jeg valgt at samarbejde med.
              <br>
              <br>
          </p>
           
          <div class="in-dept-img-wrapper" [ngsReveal]="{ reset: false, scale: 1.0}">
              <div class="in-dept-img" [style.background-image]="'url(' + galleryImages[1] + ')'" >
              </div>
          </div>

          <div class="sub-header" [ngsReveal]="{ reset: false, scale: 1.0}">
              <h4>På besøg</h4>
          </div>

          <p [ngsReveal]="{ reset: false, scale: 1.0}">
            Deres ædelsten er unikke og af høj kvalitet. 
            Wennick+Lefèvre er meget bevidste om deres sociale ansvar som forhandlere af
            ædelsten. 
            <br>
            <br>
          </p>
          <p [ngsReveal]="{ reset: false, scale: 1.0}">
            En af deres største bekymringer er aldrig at handle ædelsten, der på nogen måde har ført til menneskelig
            elendighed. 
            <br>
            <br>
          </p>

          <p [ngsReveal]="{ reset: false, scale: 1.0}">
            Ved at udvælge Deres ædelsten lokalt og undgå internationale mellemmænd, har de størst mulig
            indsigt i hele processen, fra minedrift til juvelerbutikken. 
            <br>
            <br>
          </p>
          
          <p [ngsReveal]="{ reset: false, scale: 1.0}">
            Derudover følges de politiske udviklinger tæt
            i de lande de handler med.
            <br>
            <br>
          </p>
          

        </div>

        <div class="page-navbar" [ngsReveal]="{ reset: false, scale: 1.0}">
                <a [routerLink]="['/pearls']"><h4>p: Pearls</h4></a>
                <a pageScroll [pageScrollDuration]="700"  href="#top-section" ><h4 class="light">top</h4></a>
                <a [routerLink]="['/metals']"><h4>n: gold</h4></a>
        </div>

        <div class="border"></div>

      </div>

     

    </div>
  </div>