<div class="container-fluid">
    <div id="top-section" class="row">

      <div class="in-dept-text-section">

       <div class="menu-item">
            <a><h4>menu</h4></a>
       </div>

       <div class="page-navbar">
            <a [routerLink]="['/frontpage']" ><h4 class="light">oversigt</h4></a>
        </div>

       <div class="header lrj-header">
            <h2>Om Safirer</h2>
        </div> 
  
        <div class="in-dept-img-wrapper">
          <div class="in-dept-img" [style.background-image]="'url(' + galleryImages[1] + ')'">
          </div>
        </div>
  
        <div class="in-dept-text">
          <div class="sub-header">
            <h4>Om Safirer</h4>
          </div>
  
          <p>
              Som smykkedesiger har jeg naturligvis ikke haft vanskeligt ved at lade mig fascinere af 
              ædelstenes skønhed og mystik.
              <br>
          </p>

           <p> 
              Jeg er facineres af stenens muligheder for
              skabe smykker der etablerer kontakt mellem mennesker baseret på materialer
              der er dannet for millioner af år tilbage i vores jords indre. 
              <br>
          </p>

          <div class="sub-header">
              <h4>Safirer og miljø</h4>
          </div>
  
           <p>
              Men vi lever i en tid hvor vi tvinges til at stille krav til hvordan vi
              agerer i forhold til miljøet - også som smykkedesignere.
              <br>
          </p>

          <p>
              Bæredygtighed har heldigvis vundet indpas blandt smykkedesignere.
              Og ikke mindst blandt leverandører af materialer.
              <br>
          </p>

          <div class="sub-header">
              <h4>Wennick+Lefèvre</h4>
          </div>

          <p>
              Wennick+Lefèvre er Skandinaviens ledende specialister indenfor naturlige 
              og ikke -varmebehandlede ædelsten. 
              <br>
                Dem har jeg valgt at samarbejde med.
              <br>
          </p>
           
          <div class="in-dept-img-wrapper">
              <div class="in-dept-img" style='filter:grayscale(100%)' [style.background-image]="'url(' + galleryImages[0] + ')'" >
              </div>
          </div>

          <div class="sub-header">
              <h4>På besøg</h4>
          </div>

          <p>
            Deres ædelsten er unikke og af høj kvalitet. 
            Wennick+Lefèvre er meget bevidste om deres sociale ansvar som forhandlere af
            ædelsten. 
            <br>
          </p>
          <p>
            En af deres største bekymringer er aldrig at handle ædelsten, der på nogen måde har ført til menneskelig
            elendighed. 
            <br>
          </p>

          <p>
            Ved at udvælge Deres ædelsten lokalt og undgå internationale mellemmænd, har de størst mulig
            indsigt i hele processen, fra minedrift til juvelerbutikken. 
            <br>
          </p>
          
          <p>
            Derudover følges de politiske udviklinger tæt
            i de lande de handler med.
            <br>
            </p>
          

        </div>

        <div class="page-navbar">
                <a [routerLink]="['/pearls']"><h4>Pearls</h4></a>
                <a pageScroll [pageScrollDuration]="700"  href="#top-section" ><h4 class="light">back to top</h4></a>
                <a [routerLink]="['/metals']"><h4>Guld</h4></a>
        </div>

        <div class="border"></div>

      </div>

     

    </div>
  </div>