@import '../../styles';

/* .in-dept-text-section{
    background: $background-color;
} */

.in-dept-text-section{
    
    .header{
    
        @media(min-width:768px){
            top: -10%;
        }

        h2{
            
            @media(min-width: 768px){
                font-size: 55px;
            }
            
            
        }
    }
}

.in-dept-img-wrapper{

    position: relative;
    display: flex;
    margin-top: 10%;
    margin-bottom: 10%;

    .in-dept-img{
        position: relative;
        height: 50vh; 
        width: 100vw;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: center;
        background-position: center;
        -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
        filter: grayscale(0%);  
        transform: scale(1.0); 
        margin-bottom: 10%;

        @media(min-width: 768px){
            background-size: contain;
            width: 80vw;
            margin-top: -20%;
            margin-bottom: -5%;
        }

      }
      
}



