
<div class="container-fluid">
  <div class="row">
    <div class="in-dept-text-section">
      <div class="header lrj-header">
          <h2>Louise <br> Rought <br> Jewellery </h2>
      </div> 

      <div class="in-dept-img-wrapper">
        <div class="in-dept-img" [style.background-image]="'url(' + galleryImages[0] + ')'">
        </div>
      </div>

      <div class="in-dept-text">
        <div class="sub-header">
          <h4>Tanker</h4>
        </div>

        <p>
          Som smykkedesiger har jeg naturligvis ikke haft vanskeligt ved at lade mig fascinere af ædelmetallers
          skønhed, mystik og formbarhed. 
          <br>
        </p>

        <div class="sub-header">
         <h4>Om formbarhed</h4>
        </div>

        <p>
          At facineres af formbarhedens muligheder for
          skabe smykker der etablerer kontakt mellem mennesker baseret på materialer
          der er dannet for millioner af år tilbage i vores jords indre. 
          <br>
        </p>

        <p>
          Men vi lever i en tid hvor vi tvinges til at stille krav til hvordan vi
          agerer i forhold til miljøet - også som smykkedesignere.
          <br>
        </p>

        <div class="sub-header">
            <h4>Om bæredygtighed</h4>
        </div>

        <p>
          Bæredygtighed har heldigvis vundet indpas blandt smykkedesignere. Bevægelsen i retning
          af stærkere bevidsthed om materialers tilblivelse og videredistribution er en vigtig, og
          rigtig, bevægelse som vi er mange i branchen der hilser velkommen. 
          <br>
        </p>

        <p>
          For netop udvidning af ædelsten- og metaller er potentielt skadeligt for miljøet og 
          for de mennesker der rundt omkring i verden udøver farligt og sundhedsskadeligt
          arbejde.
          <br>
        </p>

        <div class="in-dept-img-wrapper">
            <div class="in-dept-img" [style.background-image]="'url(' + galleryImages[1] + ')'" >
            </div>
          </div>

        <p>
          Jeg har truffet mit valg. Jeg arbejder kun med materialer der kan retfærdiggøres ud
          fra et bæredygtighedsperspektiv.
          <br>
          <br> 
        </p>

        <p>
          Nogle materialer er certificeret, andre er ikke. Derfor er det afgørende for mig 
          at kende mine leverandører under alle omstændigheder. 
          <br>
          <br> 
        </p>

        <p>
          Leverandører der tager i verden og inspicerer og præger de miljøer de opkøber i, i en bæredygtig retning.
          <br>
          <br> 
        </p>

      </div>
    </div>
  </div>
</div>