@import '../../styles';

.in-dept-text-section{

    position: relative;
    margin: auto;
    width: 85vw;
    height:fit-content;
    background: $background-color;

    .page-navbar{
        position: relative;
        display: flex;
        flex-direction: row;
        margin: auto;
        justify-content: space-between;
        width: 100%;
        
        &:nth-child(1){
          justify-content: center;
          top: 5%;
         // background: orange;
        }

        &:nth-child(3){
           bottom: 5%;
           justify-content: space-between;
        }

        a{
            h4{
                font-family: $menu-font;
                color: $text-color;
                text-transform: lowercase;
                font-size: 3.5vmin;
            }
        }

        @media(min-width: 768px){
            
            a{
                h4{
                    font-size: 1.5rem;
                }
            }
        }
    }


    .menu-item{
        position: relative; 
        right:5%;
        margin-top: 10%;
        transform: rotate(90deg);

        a{
            h4{
                font-family: $menu-font;
                color: $text-color;
                text-transform: lowercase;
                font-size: 3.5vmin;
            }
        }
    }
    
    .header{
        position: relative;
        display: flex;
        justify-content: center;
        margin: auto;
        margin-top: 25%;
        margin-bottom: 17%;  
        
        h2{
        font-family: $text-font;
        font-size: 8vmin;
        color: $header-color;
        text-align: center;
        overflow-wrap: break-word;
        letter-spacing: -1px;
        width: fit-content;
      
    }
 }

    .sub-header{
        position: relative;
        margin-bottom: 5%;
        margin-top: 5%;

        &:nth-child(1){
            margin-top: 50%;
            h4{
                font-size: 6vmin;
            }
        }
       
        h4{
            font-family: $menu-font;
            color: $text-color;
            text-transform: lowercase;
            font-size: 4vmin;
        }
    }

    .in-dept-text{
        position: relative;
        width: 70vw;
        max-width: 1400px;
        height: fit-content;
        margin: auto;
        margin-bottom: 5%;
                       
        p{
            font-family: $menu-font; //$text-font;
            text-align: left;
            font-size: 4vmin;
            font-weight: 200;//600;
            letter-spacing: 0px;
            overflow-wrap:break-word;
        }
    }
}





