<div class="container-fluid">
  <div id="top-section" class="row">
    <div class="in-dept-text-section">

      <div class="page-navbar" style="top:5%"  [ngsReveal]="{delay: 600, scale:1.0, origin: 'top', distance: '25px'}">
          <a [routerLink]="['/frontpage']" ><h4>back to front page</h4></a>
      </div> 

      <div class="header" [ngsReveal]="{ duration: 500, delay:200,scale: 1.0 , opacity: 0 , distance: '50px', origin:'top'}">
        <h2>Louise Rought <br> Jewellery </h2>
      </div> 

      <div class="in-dept-img-wrapper" [ngsReveal]="{ duration: 500, delay:300,scale: 1.0 , opacity: 0 }">
        <div class="in-dept-img" [style.background-image]="'url(' + galleryImages[0] + ')'">
        </div>
      </div>

      <div class="in-dept-text">

          <div class="sub-header">
            <h4>velkommen</h4>
          </div>

      <p [ngsReveal]="{ reset: false, scale: 1.0}">Kære besøgende.
        <br>
        <br>
      </p>

      <p [ngsReveal]="{ reset: false, scale: 1.0}">
         Velkommen til min nye hjemmeside. Jeg håber at du vil nyde
         din tur rundt i min "butik" og min verden.
         <br>
         <br>
      </p>
      
      <p [ngsReveal]="{ reset: false, scale: 1.0}">
         Og jeg håber især
         at du får lyst til at komme ned og besøge mig i min butik.
         <br>
         <br>
      </p>

      <div class="in-dept-img-wrapper" [ngsReveal]="{ duration: 500, delay:300,scale: 1.0 , opacity: 0 }">
          <div class="in-dept-img"  [style.background-image]="'url(' + galleryImages[1] + ')'">
          </div>
      </div>

      <div class="sub-header" [ngsReveal]="{ reset: false}">
        <h4>mine kunder</h4>
      </div>

      <p [ngsReveal]="{ reset: false, scale: 1.0}">
        Min verden er mest på Nørrebro. Det er i Ravnsborggade
        jeg har min butik - Vaerkstedet. Mange af mine kunder er 
        lokale eller mennesker der kommer forbi. 
        <br>
        <br>
      </p>

      <p [ngsReveal]="{ reset: false, scale: 1.0}">
        For mig er kunden altid i centrum. Jeg laver unika og 
        en stor del af min inspiration til kommende designs
        kommer fra min daglige interaktion med mine kunder.
        <br>
        <br>
     </p>

      <div class="sub-header" [ngsReveal]="{ reset: false, scale: 1.0}">
        <h4>mit værksted</h4>
      </div>
     
      <p [ngsReveal]="{ reset: false, scale: 1.0}">
        Vaekstedet er etableret som en kombination af butik og 
        værksted. Det er efterhånden en lille institution i Ryesgade, og 
        vi har gjort meget for at skabe en både hyggelig, personlig og 
        eksklusiv rammer omkring et hvert besøg.
      <br>
      <br>
      </p>

      <div class="in-dept-img-wrapper" [ngsReveal]="{ duration: 500, delay:300,scale: 1.0 , opacity: 0}">
          <div class="in-dept-img" [style.background-image]="'url(' + galleryImages[2] + ')'">
          </div>
      </div>

      <p [ngsReveal]="{ reset: false, scale: 1.0}">
        Nedenfor kan du læse om hvilke ting der optager mig i mit 
        virker og hvordan jeg arbejder med materialer og etik, som 
        for mig er et grundlæggende arbejdspræmis.
        <br>
        <br>
     </p>

     <div class="sub-header" [ngsReveal]="{ reset: false, scale: 1.0}">
      <h4>temaer</h4>
     </div>

      <p [ngsReveal]="{ reset: false, scale: 1.0}">
      Hjemmesiden er delt op i forskellige sektioner:
      <br>
      <br>
      </p>

      <p [ngsReveal]="{ reset: false, delay: 1000, scale: 1.0}">
        Perler
        <br>
      </p>

      <p [ngsReveal]="{ reset: false, delay: 1200, scale: 1.0}">
        Safirer
        <br>
      </p>

      <p [ngsReveal]="{ reset: false, delay: 1400, scale: 1.0}">
        Guld
        <br>
      </p>
     
      <p [ngsReveal]="{ reset: false, delay: 1600, scale: 1.0}">
        Vaerkstedet
        <br>
        <br>
      </p>
      
      <p [ngsReveal]="{ reset: false, scale: 1.0}">I disse afsnit kan du læse mere om mine materialevalg
        og se de enkelte smykker tæt hold.
        <br>
        <br>
      </p>

      <p [ngsReveal]="{ reset: false, scale: 1.0}">
        Herudover har jeg etableret et selvstændig afsnit om bæredygtighed og 
        den store betydning for mig i den måde jeg arbejder på 
        som smykkedesigner. 
        <br>
        <br>
      </p>

      <p [ngsReveal]="{ reset: false,scale: 1.0}">
        Jeg håber at både ord og billeder kan inspirere dig
        og jeg håber fremfor alt at se dig i min butik på Nørrebro. 
        <br>
        <br>
      </p>

      </div>

      <div class="page-navbar" style="margin-bottom:10%" [ngsReveal]="{ reset: false, scale: 1.0}">
          <a pageScroll [pageScrollDuration]="700"  href="#top-section"><h4 >top</h4></a>
          <a [routerLink]="['/sustainability']"><h4>n:sus</h4></a>
      </div>


    </div>
  </div>
</div>