<div class="container">
  <div class="row">
                
    <div class="in-dept-text-section">

      
      
       <div class="header" [ngsReveal]="{ duration: 500, delay:1000,scale: 1.0,origin: 'top',distance: '200px' }">
          <h2>{{selectedGalleryItem.name}}</h2>
       </div> 

       <div class="in-dept-img-wrapper" >
         <div class="in-dept-img" [style.background-image]="'url(' + backgroundImageUrl + ')'">
         </div>
       </div>
 
       <div class="in-dept-text" [ngsReveal]="{ duration: 800, delay:1000,scale: 1.0, origin: 'top',distance: '100px' }">
         <div class="sub-header">
           <h4>made with</h4>
         </div>
 
         <p> {{selectedGalleryItem.description}}</p>
       </div>

       <div class="page-navbar" [ngsReveal]="{ duration: 100, delay:1500,scale: 0.0}">
          <a [routerLink]="['/gallery']"><h4> back to Gallery</h4></a> 
       </div>
    
     

    

  </div>
</div>
