@import '../../styles';




.in-dept-text-section{

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    width: 0vw;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    background: $background-color;

    @media(min-width: 800px){
      //  flex-direction: row;
        flex-wrap: wrap;
      //  background: lightblue;
    }

    .border{

        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 30vh;
        width: 85vw;
        border-top: solid 0.1px rgb(24, 24, 24);
        border-bottom: solid 0.1px rgb(19, 18, 18);
        opacity: 0.3;
        background: transparent;
        z-index: 0;
    
    }
    
    .header{
        position: relative;
        display: flex;
        justify-content: center;
        margin: auto;
        margin-top: 10%;
        margin-bottom: 5%;  

        @media(min-width: 800px){
            //background: rgb(6, 40, 51);
            margin: 0;
            width: fit-content;
            top: 30%;
            left: 5%;
            justify-content: flex-start;
            overflow: visible;
            z-index: 100;
        }
        
        h2{
        font-family: $text-font;
        font-size: 9vmin;
        color: $header-color;
        text-align: center;
        overflow-wrap: break-word;
        letter-spacing: -1px;
        width: fit-content;

        @media(min-width: 800px){
            //background: rgb(104, 179, 204);
            font-size: 7vmin;
            overflow: visible;
            z-index: 200;

        }

        }
    }

    .in-dept-img-wrapper{

        position: relative;
        display: flex;
        margin-top: 0%;
        margin-bottom:0%;
        
        @media(min-width: 800px){
            //background: rgb(167, 58, 85);
            width: 70vw;
            height: 90vh;
            //right: 0%;
            //margin: auto;
            /* left: 45%;
            top: 10%; */
        }
        
        .in-dept-img{
            position: relative;
            height: 50vh; 
            width: 85vw;
            background-repeat: no-repeat;
            background-size: cover;
            background-position-y: center;
            background-position: center;
            transform: scale(1.0); 
            margin-bottom: 10%;

            @media(min-width: 800px){
                background-size: contain;
                width: 100vw;
                height: 100vh;
                //background-position-x: right;
                background-position-y: 50%;
                transform: scale(0.8); 
                right: calc(50% - 50vw);
                top:-10%;

            }
        }
    }

    .sub-header{
        position: relative;
        margin-bottom: 0%;
        margin-top: 0%;

       @media(min-width: 768px){
           left: 0%;
           margin-top: -7%;
       }

       @media(min-width: 800px){
       // background: rgb(126, 9, 87);
        
        }
       
        h4{
            font-family: $menu-font;
            color: $text-color;
            text-transform: lowercase;
            font-size: 4vmin;
            top:-100%;

            @media(min-width: 800px){
                font-size: 3vmin;
            }
        }
    }

    .in-dept-text{
        position: relative;
        width: 70vw;
        margin: auto;
        margin-top:0%;
        margin-bottom:5%;

        @media(min-width: 800px){
           // background: rgb(157, 73, 173);
            position: absolute;
            top:65%;
            left: 5%;
            overflow: visible;
            width: 33.5vw;
            z-index: 201;
        }
                
        p{
            font-family: $text-font;
            text-align: left;
            font-size: 7vmin;
            font-weight: 600;
            letter-spacing: 0px;
            overflow-wrap:break-word;

            @media(min-width: 768px){
                font-size: 4vmin;
            }

            @media(min-width: 800px){
                font-size: 3vmin;
              //  background: rgb(67, 212, 111);
                overflow: visible;
            }
        }
    }

    .page-navbar{
        position: relative;
        display: flex;
        flex-direction: row;
        width: fit-content;
        margin: auto;
        margin-top: 0%;
       
        @media(min-width: 768px){
            margin-top: 5%;
        }

        @media(min-width: 800px){
            background: rgb(216, 132, 241);
            margin: auto;
            position: absolute;
            left:4%;
            top: 3%;
            //transform: rotate(-90deg);
            //transform: translate(-50%,0%);
            
        }
    
        .navbar-item-wrapper{
           
            height: 30vw;
        }
    
        a{
            h4{
                font-family: $menu-font;
                color: $text-color;
                text-transform: lowercase;
                font-size: 3.5vmin;
            
                @media(min-width: 800px){
                   // background: rgb(133, 10, 145);
                   font-size: 1.25rem;
                }

                @media(min-width: 768px){
                    font-size: 1rem;

                }
            }
        }
    }
}
