<div class="container">
  <div class="landing-page-wrapper">
  
    <div class="close-button">
        <a (click)="toggleMegaMenu($event)"><h4>Close</h4></a>
  </div>
          <div class="menu" appMegaMenu2 >
              <ul>
                  <a id="home" (click)="toggleMegaMenu($event)" [routerLink]="['/frontpage']" >Home</a>
                 <!-- <a id="about" (click)="toggleMegaMenu($event)" [routerLink]="['/about']" >About</a>-->
                  <a id="gallery" (onmouseover)="onmouseover2($event)" (click)="toggleMegaMenu($event)"  [routerLink]="['/gallery']">Gallery</a> 
                  <a id="sapphires" (click)="toggleMegaMenu($event)" [routerLink]="['/metals']" >Sapphires</a>
                  <a id="sustainability" (click)="toggleMegaMenu($event)" [routerLink]="['/sustainability']" >Sustainability</a>
                  <a id="vaerkstedet" (click)="toggleMegaMenu($event)" [routerLink]="['/vaerkstedet']" >Vaerkstedet</a>
                 <!--  <a id="contact" (click)="toggleMegaMenu($event)"  [routerLink]="['/contact']">Contact</a> -->
                  <a id="find" (click)="toggleMegaMenu($event)"   [routerLink]="['/find']">Find</a>
              </ul>
            </div> 
          
          <div class="description">
              <p>You can divide with any text you like.</p>
              <p>For instance this...</p>
              <hr class="hr-text" data-content="">
              <p>...this...</p>
              <hr class="hr-text" data-content="">
              <p>...even this!</p>
          </div>
  </div> 
</div>