
<div class="container-fluid">

    <div class="row" id="section-top">
      <a [routerLink]="['/', 'gallery', 'j1']" >
        <div class="in-dept-image-section">
    
          <div class="header lrj-header">
              <h2>Fresh Water Drop</h2>
          </div> 

          <div class="in-dept-img-wrapper">
            <div class="in-dept-img" [style.background-image]="'url(' + galleryImages[0] + ')'">
            </div>
          </div>
    
          <div class="in-dept-text">
            <div class="sub-header">
              <h4>Tanker</h4>
          </div>
    
            <p>
              Det jeg har tænkt omkring dette smykke er...
              <br>
            </p>
          </div>
        </div>
      </a>
    
    </div>

    <div class="row">
        <a [routerLink]="['/', 'gallery', 'j2']" >
         <div class="in-dept-text-section">
     
           <div class="header lrj-header">
               <h2>Pearl Necklesses</h2>
           </div> 
   
           <div class="in-dept-img-wrapper">
             <div class="in-dept-img" [style.background-image]="'url(' + galleryImages[1] + ')'">
             </div>
           </div>
     
           <div class="in-dept-text">
             <div class="sub-header">
               <h4>Tanker</h4>
             </div>
     
             <p>
               Det jeg har tænkt omkring dette smykke er...
               <br>
             </p>
           </div>
         </div>
        </a>
    </div>

    <div class="row">
        <a [routerLink]="['/', 'gallery', 'j3']" >
         <div class="in-dept-text-section">
     
           <div class="header lrj-header">
               <h2>Big Oops</h2>
           </div> 
   
           <div class="in-dept-img-wrapper">
             <div class="in-dept-img" [style.background-image]="'url(' + galleryImages[2] + ')'">
             </div>
           </div>
     
           <div class="in-dept-text">
             <div class="sub-header">
               <h4>Tanker</h4>
             </div>
     
             <p>
               Det jeg har tænkt omkring dette smykke er...
               <br>
             </p>
           </div>
         </div>
        </a>
    </div>

    <div class="row">
        <a [routerLink]="['/', 'gallery', 'j4']" >
         <div class="in-dept-text-section">
     
           <div class="header lrj-header">
               <h2>Tahiti Love</h2>
           </div> 
   
           <div class="in-dept-img-wrapper">
             <div class="in-dept-img" [style.background-image]="'url(' + galleryImages[3] + ')'">
             </div>
           </div>
     
           <div class="in-dept-text">
             <div class="sub-header">
               <h4>Tanker</h4>
             </div>
     
             <p>
               Det jeg har tænkt omkring dette smykke er...
               <br>
             </p>
           </div>
         </div>
        </a>
    </div>

    <div class="row">
        <a [routerLink]="['/', 'gallery', 'j5']" >
         <div class="in-dept-text-section">
     
           <div class="header lrj-header">
               <h2>Tahiti Stick</h2>
           </div> 
   
           <div class="in-dept-img-wrapper">
             <div class="in-dept-img" [style.background-image]="'url(' + galleryImages[4] + ')'">
             </div>
           </div>
     
           <div class="in-dept-text">
             <div class="sub-header">
               <h4>Tanker</h4>
             </div>
     
             <p>
               Det jeg har tænkt omkring dette smykke er...
               <br>
             </p>
           </div>
         </div>
        </a>
    </div>

    <div class="row">
        <a [routerLink]="['/', 'gallery', 'j6']" >
         <div class="in-dept-text-section">
     
           <div class="header lrj-header">
               <h2>Fresh Water Drop</h2>
           </div> 
   
           <div class="in-dept-img-wrapper">
             <div class="in-dept-img" [style.background-image]="'url(' + galleryImages[5] + ')'">
             </div>
           </div>
     
           <div class="in-dept-text">
             <div class="sub-header">
               <h4>Tanker</h4>
             </div>
     
             <p>
               Det jeg har tænkt omkring dette smykke er...
               <br>
             </p>
           </div>
         </div>
        </a>
    </div>
        
    <div class="in-dept-text-section">
      <div class="page-navbar">
        <a pageScroll [pageScrollDuration]="700"  href="#section-top">
          <h4 class="light">back to top</h4>
        </a>
      </div>
    </div>


  </div>