<div class="container-fluid">
    <div class="row">
      <div class="in-dept-text-section">

      <div class="border"></div>

       <div class="header lrj-header">
            <h2>Om Perler</h2>
        </div>  
  
        <div class="in-dept-img-wrapper">
          <div class="in-dept-img" [style.background-image]="'url(' + galleryImages[1] + ')'">
          </div>
        </div>
  
        <div class="in-dept-text">
          <div class="sub-header">
            <h4>Om perler</h4>
          </div>
  
          <p>
              Jeg elsker at arbejde med perler. 
              Perler er for mig indbegrebet af naturlig skønhed.
              Det komplekse farvespil, den frakturede struktur
              der på en gang minder én om livet skøbelighed og
              naturens styrke og ufattelige skønhed. 
            <br>
          </p>

          <p>
              Perler er for mig en kilde til dybt inspiration.
            <br>
          </p>

          <div class="sub-header">
              <h4>Perler og miljø</h4>
          </div>
  
           <p>
              Perler er materialer skabt i levende væsener, og derfor har vi naturligvis
              en ekstra forpligtelse i forhold at passe på naturen i udvindelsesprocessen.
            <br>
          </p>

          <div class="sub-header">
              <h4>Marc' Haritt</h4>
          </div>

          <p>
              Jeg bruger perler fra Marc' Haritt.
              Marc’Harit har specialiseret sig indenfor de fine saltvandskulturperler South Sea- og Tahiti kulturperler.
            <br>
          </p>
          <p>
              Hos Marc’Harit arbejder de kun med den bedste kvalitet inden for kulturperler, 
              og langt størstedelen af Deres perler er dyrket under bæredygtige og Fair-Trade forhold. 
              <br>
          </p>
         
  
          <div class="in-dept-img-wrapper">
              <div class="in-dept-img" style='filter:grayscale(100%)' [style.background-image]="'url(' + galleryImages[0] + ')'" >
              </div>
          </div>

          <div class="sub-header">
              <h4>På besøg</h4>
          </div>

          <p>
            De besøger regelmæssigt deres samarbejdspartnere på deres perlefarme i Fransk Polynesien, på Filippinerne, Indonesien, og Mexico. 
            <br>
          </p>
          <p>
            Netop ved at besøge sine leverandører  skabes den bedste dialog og involvering med producenterne
            således at de tilsikres at perledyrkningen foregår i overensstemmelse med bæredygtighedsprincipper.
            <br>
          </p>
          

        </div>
      </div>
    </div>
  </div>