@import '../styles';

.hide-mega-menu{
    opacity: 0;
} 

.show-mega-menu{
    opacity: 1;
}

.landing-page-wrapper{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
     z-index: 100;
    overflow: visible;
    background: $background-color;
    overflow-x: hidden;

    .close-button{
        position: absolute;
        right: 0%;
        top: 30px;
        //background: lightcoral;
        
        a{
            h4{
                
                font-size: 3.5vmin;
                font-family: $menu-font;
                transform: rotate(90deg);

                &:hover{
                    cursor: crosshair;
                }
            }
        }
    }
       
    .menu{
        position: relative;
        display: flex;
        flex-direction: column;
        align-content: center;
        margin: auto;
        width: 60vw;
        height: 50vh;
        top: 20%;

        ul{
            position: relative;
            display: flex;
            flex-direction: column;
            margin: auto;
            list-style: none;
            height: 30vh;
            width: 30vw;
            //background: blue;      

            a{
                position: relative;
                color: black;
                font-weight: 700;
                text-decoration: none;
                font-family: $text-font;
                font-size:3rem;
                display: block;
                opacity: 0;
                transition: all ease-in 0.25s;
                                                  
                &:hover, &:focus{
                    
                    color: rgb(79, 79, 80);
                    &:hover{
                        cursor: crosshair;
                    }
                }
            }
        } 
    }
}


.side-navbar-left{
    position: fixed;
    display: flex;
    justify-content: center;
    width: 7.5vw;
    height:100vh;
    overflow: hidden;
    left: 0%;
    background: $background-color;
  
    
}

.side-navbar-right{

    position: fixed;
    display: flex;
    justify-content: center;
    width: 7.5vw;
    height:100vh;
    overflow: hidden;
    right: 0%;
    background: $background-color;
  

    .navbar-item{
        position: relative;        
        width: auto;
        height: fit-content;
        transform: rotate(90deg);
        margin: auto;
        margin-top: 30px;
        align-content: center;
        justify-content: center;
      //  background: lightcoral;
        //padding: 0px;

        a{
            
            font-family: $menu-font;
            font-weight: 700;
            font-size: 3.5vmin;
            color: $text-color;

            &:hover, &:focus{
                    
                color: rgb(79, 79, 80);
                &:hover{
                    cursor: crosshair;
                }
            }
            
        }
    }

}


