<div class="container-fluid">
    <div class="row">
      <div class="landing-page-wrapper">
          <div class="logo-wrapper">
              <div class="logo">

               <!-- <h2>Louise Rought Jewellery</h2> -->

                  <h2 class="vec" *ngFor="let l of displayLetters_1">
                      {{l}}
                  </h2>
                  <h2 class="vec" *ngFor="let l of displayLetters_2">
                      {{l}}
                  </h2>
                  <h2 class="vec" *ngFor="let l of displayLetters_3">
                      {{l}}
                  </h2>
              </div>
          </div>
      </div>
    </div>
</div>