<div class="container-fluid">
  
<div class="row">
  <div class="description-section-wrapper">
    
    <div class="in-dept-text-section">
 
        <div class="header lrj-header">
           <h2>Louise Rought Jewellery </h2>
        </div> 
 
        <div class="in-dept-img-wrapper">
          <div class="in-dept-img" [style.background-image]="'url(' + galleryImages[0]  + ')'">
          </div>
        </div>

        <div class="in-dept-text-local">
           <div class="sub-header">
            <h4>louise rought</h4>
           </div> 
           <p>Håndlavede, bæredygtige smykker i Ryesgade.
                Bæredygtige perler, safirer. Bæredygtigt guld
                og nænsomt håndværk.
            </p> 
        </div>
        
        <div class="page-navbar">
            <a [routerLink]="['/about']"><h4>Read more</h4></a> 
         </div>
  
        

        <div class="scroll-indicator">
            <a pageScroll [pageScrollDuration]="700"  href="#sapphires">
              <h4 class="light">scroll</h4>
            </a>
          </div>
 
     </div>

  </div>
</div>
    

<div class="row">
        <div class="description-section-wrapper">
          
          <div class="in-dept-text-section">
       
              <div class="header lrj-header">
                 <h2>Louise Rought Jewellery </h2>
              </div> 
       
              <div class="in-dept-img-wrapper">
                <div class="in-dept-img" [style.background-image]="'url(' + galleryImages[0]  + ')'">
                </div>
              </div>
      
              <div class="in-dept-text-local">
                 <div class="sub-header">
                  <h4>louise rought</h4>
                 </div> 
                 <p>Håndlavede, bæredygtige smykker i Ryesgade.
                      Bæredygtige perler, safirer. Bæredygtigt guld
                      og nænsomt håndværk.
                  </p> 
              </div>
              
              <div class="page-navbar">
                  <a [routerLink]="['/about']"><h4>Read more</h4></a> 
               </div>
        
              
      
              <div class="scroll-indicator">
                  <a pageScroll [pageScrollDuration]="700"  href="#sapphires">
                    <h4 class="light">scroll</h4>
                  </a>
                </div>
       
           </div>
      
        </div>
      </div>

<div class="row">
            <div class="description-section-wrapper">
              
              <div class="in-dept-text-section">
           
                  <div class="header lrj-header">
                     <h2>Louise Rought Jewellery </h2>
                  </div> 
           
                  <div class="in-dept-img-wrapper">
                    <div class="in-dept-img" [style.background-image]="'url(' + galleryImages[0]  + ')'">
                    </div>
                  </div>
          
                  <div class="in-dept-text-local">
                     <div class="sub-header">
                      <h4>louise rought</h4>
                     </div> 
                     <p>Håndlavede, bæredygtige smykker i Ryesgade.
                          Bæredygtige perler, safirer. Bæredygtigt guld
                          og nænsomt håndværk.
                      </p> 
                  </div>
                  
                  <div class="page-navbar">
                      <a [routerLink]="['/about']"><h4>Read more</h4></a> 
                   </div>
            
                  
          
                  <div class="scroll-indicator">
                      <a pageScroll [pageScrollDuration]="700"  href="#sapphires">
                        <h4 class="light">scroll</h4>
                      </a>
                    </div>
           
               </div>
          
            </div>
</div>

<div class="row">
                <div class="description-section-wrapper">
                  
                  <div class="in-dept-text-section">
               
                      <div class="header lrj-header">
                         <h2>Louise Rought Jewellery </h2>
                      </div> 
               
                      <div class="in-dept-img-wrapper">
                        <div class="in-dept-img" [style.background-image]="'url(' + galleryImages[0]  + ')'">
                        </div>
                      </div>
              
                      <div class="in-dept-text-local">
                         <div class="sub-header">
                          <h4>louise rought</h4>
                         </div> 
                         <p>Håndlavede, bæredygtige smykker i Ryesgade.
                              Bæredygtige perler, safirer. Bæredygtigt guld
                              og nænsomt håndværk.
                          </p> 
                      </div>
                      
                      <div class="page-navbar">
                          <a [routerLink]="['/about']"><h4>Read more</h4></a> 
                       </div>
                
                      
              
                      <div class="scroll-indicator">
                          <a pageScroll [pageScrollDuration]="700"  href="#sapphires">
                            <h4 class="light">scroll</h4>
                          </a>
                        </div>
               
                   </div>
              
                </div>
</div>

<div class="row">
                    <div class="description-section-wrapper">
                      
                      <div class="in-dept-text-section">
                   
                          <div class="header lrj-header">
                             <h2>Louise Rought Jewellery </h2>
                          </div> 
                   
                          <div class="in-dept-img-wrapper">
                            <div class="in-dept-img" [style.background-image]="'url(' + galleryImages[0]  + ')'">
                            </div>
                          </div>
                  
                          <div class="in-dept-text-local">
                             <div class="sub-header">
                              <h4>louise rought</h4>
                             </div> 
                             <p>Håndlavede, bæredygtige smykker i Ryesgade.
                                  Bæredygtige perler, safirer. Bæredygtigt guld
                                  og nænsomt håndværk.
                              </p> 
                          </div>
                          
                          <div class="page-navbar">
                              <a [routerLink]="['/about']"><h4>Read more</h4></a> 
                           </div>
                    
                          
                  
                          <div class="scroll-indicator">
                              <a pageScroll [pageScrollDuration]="700"  href="#sapphires">
                                <h4 class="light">scroll</h4>
                              </a>
                            </div>
                   
                       </div>
                  
                    </div>
</div>

</div>
 
