@import '../../styles';

.side-navbar-left{

    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    width: 7.5vw;
    max-width:40px;
    height:100vh;
    z-index: 1000;
    right: 0%;
   // background: lawngreen;

    .navbar-item{
        
      //  width: auto;
       // height: fit-content;
        transform: rotate(90deg);
        margin-top: 30px;
       // background: lightcoral;
        //padding: 0px;
        overflow: hidden;

        a{
            
            font-family: $menu-font;
            font-weight: 700;
            font-size: 3.5vmin;
            color:$text-color;

            &:hover, &:focus{
                    
                color: rgb(79, 79, 80);
                &:hover{
                    cursor: crosshair;
                }
            }
        }
    }
}

