<div class="container-fluid">
  <div class="row">
    <div class="image-section">
      
      <div class="image-card">

        <div class="image-card-info-wrap">
            
            <div class="header" >
                <h2>Fresh Water Drop</h2>
            </div> 
              
            <div class="image-wrapper">
              <a [routerLink]="['/', 'gallery', 'j1']" >
                <div class="image" [style.background-image]="'url(' + galleryImages[0] + ')'">
                </div>
              </a>
            </div>
        </div>
          
      </div>
      
      <div class="image-card">

          <div class="image-card-info-wrap">
            
              <div class="header" >
                  <h2>Pearl Necklesses</h2>
              </div> 
                
              <div class="image-wrapper">
                <a [routerLink]="['/', 'gallery', 'j2']" >
                  <div class="image" [style.background-image]="'url(' + galleryImages[1] + ')'">
                  </div>
                </a>
              </div>
          </div>
      </div>

      <div class="image-card">

          <div class="image-card-info-wrap">
              
              <div class="header" >
                  <h2>Big Oops</h2>
              </div> 
                
              <div class="image-wrapper">
                <a [routerLink]="['/', 'gallery', 'j3']" >
                  <div class="image" [style.background-image]="'url(' + galleryImages[2] + ')'">
                  </div>
                </a>
              </div>
          </div>
      </div>

      <div class="image-card">

          <div class="image-card-info-wrap">
              
              <div class="header" >
                  <h2>Tahiti Love</h2>
              </div> 
                
              <div class="image-wrapper">
                <a [routerLink]="['/', 'gallery', 'j4']" >
                  <div class="image" [style.background-image]="'url(' + galleryImages[3] + ')'">
                  </div>
                </a>
              </div>
          </div>
      </div>

      <div class="image-card">

          <div class="image-card-info-wrap">
              
              <div class="header" >
                  <h2>Tahiti Stick</h2>
              </div> 
                
              <div class="image-wrapper">
                <a [routerLink]="['/', 'gallery', 'j5']" >
                  <div class="image" [style.background-image]="'url(' + galleryImages[4] + ')'">
                    
                  </div>
                </a>
              </div>
          </div>
      </div>

      <div class="image-card">

          <div class="image-card-info-wrap">
              
              <div class="header" >
                  <h2>The Stones</h2>
              </div> 
                
              <div class="image-wrapper">
                <a [routerLink]="['/', 'gallery', 'j6']" >
                  <div class="image" [style.background-image]="'url(' + galleryImages[5] + ')'">
                  </div>
                </a>
              </div>
          </div>
      </div>
     
        
    </div>
  </div>
</div>